:root {
    --fuentePrincipal: "Roboto", sans-serif;
    --separacion: 5rem;
    --primario:#0e0f0f; 
    --secundario: #2ee0e0;
    --oscuro: #000;
    --blanco: #FFF; 
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    background-color: var(--primario);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

h1,
h2,
h3 {
    margin: 0 0 var(--separacion) 0;
    text-transform: uppercase;
    color: var(--blanco);
}

h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.6rem;
    font-weight: 400;
}
h3 {
    font-size: 3.2rem;
}

/* UTILIDADES */

/* HEADER */

/* .navbar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
} */

.navbar-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo img {
    height: 4rem;
}

.navbar-logo p {
    font-size: 2rem;
}

.navbar-toggler-icon  {
    font-size: 1.6rem;
}

.navbar-collapse {
    justify-content: flex-end;
}

.carousel-item img {
    height: 100%;
    object-fit: cover;
    /* object-position: center; */
}

/* NOSOTROS */
.nosotros {
    padding: var(--separacion) 0;
}

.nosotros__heading {
    color: var(--blanco);
}
.tarjeta {
    color: var(--blanco);
}
.tarjeta__icon {
    background-color: var(--secundario);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .3rem 0;
}
.tarjeta__icon i {
    font-size: 2.5rem;
}

/* DESTACADOS */
.card {
    background: transparent;
}
.card img {
    height: 15rem;
    object-fit: cover;
}
.card-body {
    background-color: var(--secundario);
    color: var(--blanco);
    padding-bottom: 3rem;
}
.card-title {
    font-size: 2rem;
    font: 400;
}